<div class="container-sm">

    <div class="row pt-1">
        <div class="col-md-3 col-1">
        </div>
        <div class="col-md-6 col-10">
            <h2 class="mb-5">Edit Blog</h2>
            <form action="/admin/edit-blog/{{blog._id}}" method="POST" class="position-relative">
                <label for="" class="form-label">Author:</label>
                <input type="text" class="form-control" name="author_name" id="author-name" value="{{blog.author_name}}" 
                    id="author-name">
                <label for="" class="form-label">Title:</label>
                <input type="text" value="{{blog.title}}" class="form-control" name="title" id="title"
                    id="title">
                 <div class="form-group">
                  <label for="">Blog Content:</label>
                  <textarea type="text" class="form-control" name="blogContent" id="blogContent"
                    id="blogContent" rows="6">{{blog.blogContent}}</textarea>
                </div>
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">
                <a href="/admin" class="btn btn-primary">Go back</a>
            </form>
        </div>
    </div>
</div>

