<div class="container-sm">
    <div class="row">
        <div class="col text-center mt-5">
            <h1>Sign Up</h1>
            <br>
            <h5>Please Provide Your Genuine Details</h5>
            <br>
        </div>
    </div>
    <div class="row pt-1">

        <div class="col-md-3 col-1">

        </div>

        <div class="col-md-6 col-10">
            <form action="/signup" method="POST" class="position-relative">
                <label for="" class="form-label">Username:</label>
                <input type="text" class="form-control" required name="username" placeholder="Enter Username"
                    id="user-name">
                <label for="" class="form-label">Full Name:</label>
                <input type="text" class="form-control" required name="name" placeholder="Enter Full Name"
                    id="name">
                <label for="" class="form-label">Email:</label>
                <input type="email" required class="form-control" name="email" id="email"
                    placeholder="Enter Email">
                <label for="" class="form-label">Phone:</label>
                <input type="number" required class="form-control" name="phone" id="phone"
                    placeholder="Enter Phone Number">
                <label for="" class="form-label">Password:</label>
                <input type="text" required class="form-control" name="password" id="password"
                    placeholder="Enter Password">
                <br>
                <input type="submit" value="Submit" class="btn btn-primary">
                <a href="/login" class="position-absolute end-0 btn">Already a user? Go to login</a>
            </form>
            <br>
            {{#if userExists}}
            <div class="alert alert-danger" role="alert">
                User Already Exists
            </div>
            {{/if}}
        </div>
    </div>
</div>